/*分页*/
.pay-div,.page-div,.static-page{width:100%;}
.pay-div .inner{padding:10px 28px; background:#fff; border-top:1px solid #dee6eb; border-bottom:1px solid #dee6eb; overflow:hidden;}
.pay-div .inner p{width:260px; text-align:left; float:right;}
.pay-div .greenBtn{width:120px; line-height:38px; font-size:14px;}
.page-div .pages,.static-page .pages{background:#f3f7fb;padding-bottom:10px; padding-right:13px; border-top:1px solid #dbe3e9;border-bottom:1px solid #dbe3e9;}
.pages{text-align:right;padding-top:11px;}
.pages a,.pages span{display:inline-block; min-width:18px; padding:0 6px; margin:0 2px; line-height:28px; text-align:center; border:1px solid #e7e7e7;background:#fff;}
.pages span.none{border:none;background:none;}
.pages span.current{background:#51d2b7;color:#fff;}
.pages a.prev,.pages a.next{color:#3faffc; font-family:'\5B8B\4F53'; font-weight:600;}
.pages a.prev.no,.pages a.next.no{color:#9d9d9d; cursor:default; background-color:#f1f1f1;}
.pages a:hover{background:#f2f2f2; color:#64d1b5;}
.pages a.firstpage i,.pages a.lastpage i{display:inline-block; width:9px; height:10px; background:url(../img/pages.png) no-repeat;}
.pages a.firstpage i{background-position:-25px 0;}
.pages a.lastpage i{background-position:-50px 0;}
.pages a.firstpage:hover i{background-position:-25px -25px;}
.pages a.lastpage:hover i{background-position:-50px -25px;}
.pages a.firstpage.no,.pages a.lastpage.no{cursor:default; background-color:#f1f1f1;}
.pages a.firstpage.no i{background-position:-25px -50px;}
.pages a.lastpage.no i{background-position:-50px -50px;}
.pages .pageinput{width:30px; height:28px; border:1px solid #e7e7e7; text-align:center; line-height:28px; margin:0 3px;}
.pages .gobutton{color:#44b2fc;}
.pages .txt{float:right; line-height:30px;}
.pages .new-sel-box{width:48px; height:28px; line-height:28px; float:right; text-align:left; background-color:#fff; margin:0 5px 0;}
.pages .new-sel-box:after{width:8px; height:4px;right:8px; top:12px; background:url(../img/pages.png) no-repeat;}